%table(border=1)
  %tr
    %td name
    %td value
  %tr
    %td id
    %td= @invoice.id
  %tr
    %td period_start
    %td= @invoice.period_start
  %tr
    %td period_end
    %td= @invoice.period_end
  %tr
    %td subtotal
    %td= format_currency(@invoice.subtotal, @invoice.currency)
  - if @invoice.discount
    %tr
      %td discount
      %td= format_currency(@invoice.discount, @invoice.currency)
  - total_refund=0
  - if @invoice.refunds
    - count = 0
    - @invoice.refunds.each do |refund|
      - count += 1
      %tr
        %td= (count==1 ? 'Refund' : '')
        - total_refund += -refund.amount
        %td= format_currency(refund.amount, @invoice.currency)
  %tr
    %td total
    %td= format_currency((@invoice.amount - total_refund), @invoice.currency)
      
  
