%table(border=1)
  %tr
    %td Name
    %td value
  %tr
    %td Id
    %td= @invoice.id
  %tr
    %td Period Start
    %td= @invoice.period_start
  %tr
    %td Period End
    %td= @invoice.period_end
  %tr
    %td Subtotal
    %td= format_currency(@invoice.subtotal, @invoice.currency)
  - if @invoice.discount
    %tr
      %td discount
      %td= format_currency(@invoice.discount, @invoice.currency)
  - @invoice.refunds.each do |refund|
    %tr
      %td= 'Refund'
      %td= format_currency(refund.amount, @invoice.currency)
  %tr
    %td Total
    %td= format_currency((@invoice.amount - @invoice.total_refund), @invoice.currency)